body
    .title
        font-family: 'raleway-bold'
        text-transform: uppercase

    .subtitle
        font-family: 'raleway-thin'
        text-transform: uppercase

    header
        .banner
            background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/banner.jpg')
            background-size: cover
            height: 500px
        .HomeContenu
            text-transform: uppercase
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            color: white

